body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: LightSkyBlue;
}

#sitelogo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    width: auto;
    height: 100px;
    border: 5px solid black;
    border-radius: 15px;
}

#rete, #stadio, #rovesciata, #pallone{
    margin-top: 30px;
}

.menu {
    text-align: center;
    background-color: black;
    margin-top: -10px;
    height: fit-content;
    cursor: pointer;
}

@media only screen and (min-width: 1500px) {
    #sitelogo {
        width: auto;
        height: 100px;
        border: 5px solid black;
        border-radius: 15px;
        position: absolute;
        left: 20px;
        top: 0px;
    }
    .menu {
        text-align: center;
        background-color: black;
        margin-top: 40px;
        height: fit-content;
    }
}

.menu a {
    color: white;
    text-decoration: none;
    text-align: center;
    padding: 10px 60px;
    line-height: 50px;
}

.menu a:hover {
    background-color: white;
    color: black;
}

.content {
    display: flex;
    min-height: 100vh;
}

h2 {
    text-decoration: underline;
}



.column_left {
    width: 20%;
    background-color: lightcyan;
    padding: 15px;
}

.column_middle {
    width: 60%;
    background-color: lightcyan;
    padding: 15px;
}

.column_right {
    width: 20%;
    background-color: lightcyan;
    padding: 15px;
}

.footer {
    background-color: LightSkyBlue;
    text-align: center;
    padding: 5px;
}

#privacy {
    text-decoration: none;
    color: black;
}

input, select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

#intro_text {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: large;
    font-style: italic;
}

#profileimg {
    min-height: 300px;
    height: auto;
    width: 100%;
    border-radius: 10px;
}

.home-img {
    border-radius: 5px;
}

.fadeIn {
	opacity: 1;
	animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 3s;
}

@keyframes fadeInOpacity {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

.logo {
    cursor: pointer;
    width: auto;
    height: 100px;
}

.card-squadra {
    display: inline-block;
    border: 1px solid black;
    border-radius: 15px;
    margin: 10px;
    padding: 10px;
    width: fit-content;
}
.card-squadra p {
    font-weight: bold;
    text-align: center;
}
.card-squadra img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}


.card-squadra:hover {
    background-color: rgb(25, 206, 230);
}

#terms {
    
}
/*
#videoeuro2020{
    padding-top: 100px;
}
*/